

.generic-perkgroups-module
{
	width: 100%;
	height: 100%;
	display:flex;
}
.generic-perkgroups-module .generic-perkgroups-content-container
{
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.generic-perkgroups-module .generic-perkgroups-content-container .perks-row
{
	min-height: 3rem;
	max-height: 6rem;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

	border-bottom: 1px solid rgba(0,0,0,0.4);
}

.generic-perkgroups-module .generic-perkgroups-content-container .perks-row:last-child
{
	border-bottom: none;
}

.generic-perkgroups-module .generic-perkgroups-content-container .perks-row .dpf-l-perk-container
{
}

.generic-perkgroups-module .generic-perkgroups-content-container .perks-row .dpf-l-perk-container .dpf-perk-image-layer
{
}

