.generic-perkgroups-module
{
	width: 100%;
	height: 100%;
}
.generic-perkgroups-module .generic-perkgroups-content-container
{
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.generic-perkgroups-module .generic-perkgroups-content-container.ordered
{
	height: 100%;
}
.generic-perkgroups-module .generic-perkgroups-content-container.unordered
{
	height: auto;
}
.generic-perkgroups-module .generic-perkgroups-content-container .perks-row
{
	min-height: 4rem;
	width: 95%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid rgba(0,0,0,0.4);
}
.generic-perkgroups-module .generic-perkgroups-content-container .perks-row .l-perk-container
{
	max-width: 4rem;
	min-width: 3rem;
	flex: 1 1 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.generic-perkgroups-module .generic-perkgroups-content-container .perks-row .l-perk-container .perk-image-layer
{
	width: 90%;
}
.generic-perkgroups-module .generic-perkgroups-content-container .perks-row .l-perk-container .perk-image-layer > img
{
	max-width: 100%;
	width: auto;
}
